<header>
  <nav class="">
    
      <button class="btn btn-xl btn-outline-success " [routerLink]="['/']" type="button">Tienda</button>
      <img [src]="logo" width="60px">
      <button class="btn btn-xl btn-outline-success " [routerLink]="['/acerca']" type="button">acerca</button>
    
  </nav>
</header>
<main >
  <router-outlet></router-outlet>
</main>
<footer class="mt-auto">
  <div class="footer">

    <img [src]="logo2" >
    <img [src]="logo" >
    <div class="redes">
      <span><img [src]="logoInstagram" width="30px"> Instagram</span>
      <span><img [src]="logoFacebook" width="30px"> Facebook</span>
      <span><img [src]="logoLinkedin" width="30px"> Linkedin</span>
    </div>
  </div>
</footer>