
input{
    width: 200px;
}
li{
    background-color: #F5F8C9;
    padding: 10px;
    border-bottom: #DFDEB0 2px dashed;
}
ul{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: large;
    border-radius: 10px;
}
h2{
    background-color: #0175BD;
    color: white;
    font-size: 24px;
    text-align: center;
}

button{
    font-size: large;
    font-weight: 700;
    
}


